.accountsTable {
  width: 100%;
  border-collapse: collapse;
}

.accountsTable, td, th {
  border: 1px solid black;
}

th {
  text-align: left;
}

.curExec {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}